<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.bizpay.mapper.ExternalMapper">
  	<insert id="insertExOrder" >
  		<selectKey resultType="long" keyProperty="seq" order="BEFORE">
  			select  SEQ_EX_ORDER.NEXTVAL from dual
  		</selectKey>
  		INSERT INTO tb_ex_order (
		    seq,
		    name,
		    price,
		    mber_Id,
		    exorder_no,
		    NEXT_URL,
		    NOTI_URL,
		    bigo
		) VALUES (
		    #{seq},
		    #{orderName},
		    #{orderPrice},
		    #{mberId},
		    #{exorderNo},
		    #{nextUrl},
		    #{notiUrl},
		    #{bigo}
		)
  	</insert>
  	
  	<select id="selectExOrderNo" resultType="ExternalOrderInputParam">
  	SELECT
	    seq,
	    mber_id,
	    name,
	    price,
	    status,
	    
	    create_dt,
	    update_dt,
	    exorder_no
	FROM
	    tb_ex_order
	where
	    mber_id =  #{mberId}
	    and exorder_no = #{exorderNo}
  	</select>
  	
  	  	
  	<select id="selectOrderInfo" resultType="ExternalOrderInputParam">
  		SELECT
		    seq,
		    bb.COMPANY_NAME 	as MBER_NAME,
		    mber_id,
		    name as order_name,
		    price as order_price,
		    status,
		    aa.exorder_no,
            bb.sugi_certification,
            bb.mber_code,
            aa.next_url,
            aa.noti_url,
		    create_dt,
		    update_dt,
		    bb.INSTALLMENT_MONTHS as installment
		FROM
		    tb_ex_order aa
            inner join mber_basis bb
            on aa.mber_id = bb.INDUTY_ID
		where 
		        aa.seq = #{val}
  	</select>
  	<!-- 이전 부문 정보 확인  -->
  	<select id="selectOrderInfo2" resultType="ExternalOrderInputParam">
  		SELECT
		    seq,
		    bb.COMPANY_NAME 	as MBER_NAME,
		    mber_id,
		    bb.mber_code,
		    name,
		    price,
		    status,
		    aa.exorder_no,
            bb.sugi_certification,
		    create_dt,
		    update_dt,
		    RCIPT_NO , 
		    CONFM_NO,
		    sysdate - UPDATE_DT as cancelPeriod
		FROM
		    tb_ex_order aa
            inner join mber_basis bb
            on aa.mber_id = bb.INDUTY_ID
		where 
		        aa.mber_id = #{mberId}
		 AND aa.EXORDER_NO = #{exorderNo}
		 and aa.CONFM_NO = #{confmNo}
  	</select>
  	
  	<!-- 영수증처리 
  	!!!!!주의!!!!!
  		프로시저 실행 리턴값을 받기위해서 공식문서에는 프로시저 실행에 관련된부분이 사실상 없고
  		구글 네이버 검색되는 내용또한 모두 틀린내용이다. 
  		select 가 아닌 insert update 로 실행해야 하고 out 부분을 정확하게 아래 처럼 기술해야 하고 
  		input 파라미터에 값이 자동으로 주입된다.
  	 -->
  	<insert id="propRciptNO" parameterType="hashmap" statementType="CALLABLE">
  			{call PROC_RCIPT_CAL(
  				#{mber_code},
  				#{rcipt_no , mode=OUT,jdbcType=VARCHAR, javaType=string}
  			)}
  	</insert>
  		
  	<!-- 영수증번호 획득  -->
  	<select id="getRciptNo" resultType="int">
  		select GET_RCIPT_NO(#{val})  from dual
  	</select>
  	  	
  	<!--   tbMber 사용가능유무 확인-->
  	<select id="selectTbBberIdCheck" resultType="HashMap" >
  	SELECT USE_AT as useAt , mber_code as mberCode  FROM mber WHERE usid = #{val}
  	</select>
  	
  	<!--tbMberDetail  mber_code_sn 확인 -->
  	<select id="selectTbMberDetailSn" resultType="String">
  	SELECT max(mber_code_sn) FROM mber_detail
  	where mber_code = #{val}
  	</select>
  	<!--tbMberBasis 필요정보만 추출  -->
  	<select id="selectTbMberBasis1" resultType="HashMap" >
  	SELECT
		    induty_id as indutyId,
		    pay_type as payType,
		    mber_name as mberName,   
		    company_name as companyName,
		    fee_rate as feeRate 
		FROM
		    mber_basis
		 where MBER_CODE = #{val}
  	</select>

	<insert id="insertDelng" parameterType="DelngParam">
	INSERT INTO delng (
	    mber_code,
	    mber_code_sn,
	    rcipt_no,
	    app_code,
	    confm_no,   
	    confm_dt,
	    confm_time,
	    splpc,
	    vat,
	    trget_mber_code,
	    trget_mber_code_sn,
	    trget_rcipt_no,
	    approval_confirm,
	    device_seq_no,
	    van_code,  
	    delng_se_code,
	    good_nm,
	    delng_pay_type,
	    bigo,
	    trmnlno
	) VALUES (
		#{mberCode},
	    #{mberCodeSn},
	    #{rciptNo},
	    #{appCode},
	    #{confmNo},   
	    #{confmDt},
	    #{confmTime},
	    #{splpc},
	    #{vat},
	    #{trgetMberCode},
	    #{trgetMberCodeSn},
	    #{trgetRciptNo},
	    #{approvalConfirm},
	    #{deviceSeqNo},
	    #{vanCode},  
	    #{delngSeCode},
	    #{goodNm},
	    #{delngPayType},
	    #{bigo},
	    #{storeId}
	)
	</insert>
	
	<insert id="insertDelngCredt">
	INSERT INTO delng_credt (
		    mber_code,
		    mber_code_sn,
		    rcipt_no,
		    card_no,
		    instlmt_month,
		    issue_cmpny_code,
		    issue_cmpny_nm,
		    puchas_cmpny_code,
		    puchas_cmpny_nm,
		    cdrsr_no,
		    card_type,
		    pg_van_gb,
		    t_id,
		    pg_rcipt_no,
		    gb_info,
		    van_pg_comp
		) VALUES (
		    #{mberCode},
		    #{mberCodeSn},
		    #{rciptNo},
		    #{cardNo},
		    #{instlmtMonth},
		    #{issueCmpnyCode},
		    #{issueCmpnyNm},
		    #{puchasCmpnyCode},
		    #{puchasCmpnyNm},
		    #{cdrsrNo},
		    #{cardType},
		    #{pgVanGb},
		    #{tId},
		    #{pgRciptNo},
		    #{gbInfo},
		    #{vanPgComp}
		)
	</insert>
	
	<insert id="insertDelngAdi" parameterType="DelngAdiParam">
	INSERT INTO delng_adi (
	    mber_code,
	    mber_code_sn,
	    rcipt_no,
	    adi_code,
	    adi_cn
	) VALUES (
	    #{mberCode},
		#{mberCodeSn},
		#{rciptNo},
	    #{adiCode},
	    #{adiCn}
	)
	</insert>
	
	<select id="selectDelngAdi" resultType="DelngAdiParam">
	select mber_code,
	    mber_code_sn,
	    rcipt_no,
	    adi_code,
	    adi_cn
	from delng_adi 
	where 
	mber_code =  #{mberCode}
	and mber_code_sn =	#{mberCodeSn}
	and rcipt_no =	#{rciptNo}
	</select>
	
	<update id="updateExOrder" parameterType="ExternalOrderInputParam">
		UPDATE tb_ex_order
		SET
		   status = #{status},
		   <if test=" confmNo!=null and !confmNo.equals('') ">
		   confm_no = #{confmNo},
		   </if>
		   <if test=" rciptNo!=null and   !rciptNo.equals('')"> 
		   rcipt_no = #{rciptNo},
		   </if>
		    <if test=" email!=null and  !email.equals('')"> 
		   email = #{email},
		   </if>
		   <if test="mobileNum!=null and !mobileNum.equals('')">  
		   mobile_num = #{mobileNum},
		   </if>
		   update_dt = sysdate
		WHERE mber_id = #{mberId}
		    AND exorder_no = #{exorderNo}

	</update>
	
	<select id="selectDelngInfo" resultType="DelngParam" parameterType="DelngParam">
		SELECT
		    mber_code,
		    mber_code_sn,
		    rcipt_no,
		    delng_se_code,
		    confm_no,
		    splpc,
		    van_code,
		    app_code,
		    TRGET_MBER_CODE_SN,
		    TRGET_RCIPT_NO,
		    trget_mber_code,
		    vat
		FROM
		    delng
		where 
		mber_code = #{mberCode}
		and rcipt_no = #{rciptNo}
		and confm_no = #{confmNo}
		and DELNG_SE_CODE = #{delngSeCode}
	</select>
	
	<select id="selectDelngCredt" resultType="DelngCredtParam" parameterType="HashMap">
	SELECT
		    mber_code,
		    mber_code_sn,
		    rcipt_no,
		    card_no,
		    instlmt_month,
		    issue_cmpny_code,
		    issue_cmpny_nm,
		    puchas_cmpny_code,
		    puchas_cmpny_nm,
		    cdrsr_no,
		    card_type,
		    pg_van_gb,
		    t_id,
		    pg_rcipt_no,
		    gb_info,
		    van_pg_comp
		FROM
		    delng_credt
		where
		 	  mber_code = #{mberCode}
		and rcipt_no = #{rciptNo}
		    
	</select>
	
	<update id="updateDelng" >
		UPDATE delng
			SET card_delete_yn = #{cardDeleteYn}
			,cancel_mber =  #{mberId}
			,cancel_dt = #{cancelDt}
			
			,bigo = #{bigo}
		WHERE mber_code=#{mberCode}
		AND mber_code_sn=#{mberCodeSn}
		AND rcipt_no=#{rciptNo}
	</update>
	
<!-- 	<select id="">
		SELECT DISTINCT LIMIT_ONE,LIMIT_DAY ,INSTALLMENT_MONTHS , a.LIMIT_MONTH , b.LIMIT_YEAR  FROM MBER_BASIS aa ,
		(SELECT  
		sum(SPLPC) + sum( vat)  AS LIMIT_MONTH
		FROM DELNG
		WHERE MBER_CODE  = #{mberCode}
		AND CONFM_DT BETWEEN to_char(add_months(sysdate,-1) , 'YYYYMMDD') AND  to_char(sysdate , 'YYYYMMDD')
		) a,
		(SELECT  
		sum(SPLPC) + sum( vat)  AS LIMIT_YEAR
		FROM DELNG
		WHERE MBER_CODE  = #{mberCode}
		AND CONFM_DT BETWEEN to_char(add_months(sysdate,-12) , 'YYYYMMDD') AND  to_char(sysdate , 'YYYYMMDD')) b
		
		WHERE aa.MBER_CODE  = #{mberCode}
	
	</select> -->
	
	<select id="selectExorderInfo" parameterType="HashMap" resultType="HashMap">
		SELECT
			teo.name AS orderName,
			teo.PRICE AS orderPrice,
			teo.EXORDER_NO AS orderNo,
			teo.MBER_ID AS memberId ,
			teo.CONFM_NO AS confmNo,
			teo.STATUS AS status
		FROM
			TB_EX_ORDER teo
		WHERE 
			MBER_ID = #{memberId}
			AND EXORDER_NO = #{orderNo}
			<if test="orderName!=null and !orderName.equals('')">  
			AND name = #{orderName}
			</if>
	</select>
	
	
  	
  </mapper>