<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.bizpay.mapper.InqireDelngMapper">
  	<sql id="delng">
		AND d.biz_code in 
		 	(SELECT aaa.biz_code FROM biz aaa START WITH aaa.biz_code = #{memberBizeCode}
		 	CONNECT BY NOCYCLE PRIOR aaa.biz_code = aaa.trget_biz_code)
		 AND b.confm_dt between #{dateStart} and #{dateEnd}
		 
		 <if test="bizCode!='all'" >
		     AND c.biz_code=#{bizCode}
	     </if>
	     <if test="delngSeCode!='all'" >
	     	AND b.delng_se_code= #{delngSeCode}
	     </if>
	     <if test="calculateType!='all'" >
			AND e.calculate_type= #{calculateType}
	     </if>
	     
	     <if test="mberName!=null" >
			AND e.mber_name like '%'||#{mberName}||'%'
	     </if>
	     <if test="confmNo!=0" >
			AND b.confm_no= #{confmNo}
	     </if>
	     <if test="mberId!=null" >
			AND e.induty_id= #{mberId}
	     </if>
	     <if test="bizNum!=null" >
			AND e.biz_num like '%'||#{bizNum}||'%'
	     </if>
	     <if test="issueCmpnyNm!=null" >
			AND a.issue_cmpny_nm like '%'||#{issueCmpnyNm}||'%'
	     </if>
	     <if test="tot!=0" >
			AND b.splpc+b.vat= #{tot}
	     </if>
	     <if test='badCardSearch=="Y"' >
			AND	a.card_no IN 
			( 
				SELECT card_no from  
				    ( 
			        SELECT bbi.card_no, count(bbi.card_no) as cnt 
			        FROM delng aai, delng_credt bbi  
			        WHERE aai.rcipt_no = bbi.rcipt_no  
			        	AND aai.mber_code = bbi.mber_code
						AND aai.confm_dt between #{dateStart} and #{dateEnd}
			        	AND aai.delng_se_code='CARD_ISSUE'  
			        	AND aai.splpc + aai.vat >= '300000'  
			        GROUP BY bbi.card_no 
				    ) 
			    WHERE cnt > 1 
			)
	     </if>
	   
	</sql>
  <!--입출 내역 전체합  -->
	<select id="totInfo" resultType="InqireDelngSum">
	select 
		sum(b.splpc+b.vat) AS sum 
	    ,SUM(CASE WHEN DELNG_SE_CODE='CARD_ISSUE' THEN b.splpc+b.vat ELSE 0 END) AS card_sum
		,SUM(CASE WHEN DELNG_SE_CODE='CARD_ISSUE' THEN 1 ELSE 0 END) AS card_count
		,SUM(CASE WHEN DELNG_SE_CODE='CASH_RCIPT_ISSUE' THEN b.splpc+b.vat ELSE 0 END) AS cash_sum
		,SUM(CASE WHEN DELNG_SE_CODE='CASH_RCIPT_ISSUE' THEN 1 ELSE 0 END) AS cash_count
		from 
		  delng_credt a
		  right outer join delng b
		    on a.mber_code=b.mber_code
		    and a.mber_code_sn=b.mber_code_sn 
		    and a.rcipt_no=b.rcipt_no
		  inner join mber c
		    on b.mber_code=c.mber_code
		  inner join biz d
		    on c.biz_code=d.biz_code
		  right outer join mber_basis e
		    on c.mber_code=e.mber_code
		where b.CARD_DELETE_YN = 'N'
		 <include refid="delng" />
	</select>
	
	<!--입출 내역   -->
	<select id="list" resultType="InqireDelng" >
		SELECT 
			d.cmpnm,
			e.adres,
			e.biz_type_name,
			e.biz_item,
			d.trmnl_no,
			d.pg_trmnl_no,
			d.pg_van,
			c.usid, 
			case e.pay_type when 'N' then '일반' else ( case e.pay_type  when 'B' then '바로정산' else '익일입금' end ) end as payType, 
			b.rcipt_no,
			(SELECT adi_cn 
				FROM delng_adi 
				WHERE mber_code=b.mber_code 
					AND mber_code_sn=b.mber_code_sn 
					AND rcipt_no=b.rcipt_no 
					AND adi_code='PURCHSR_MBTLNUM') AS purchsrMbtlnum,
			b.splpc,
			b.vat,
			b.delng_se_code,
			a.card_type,
			a.instlmt_month,
			a.issue_cmpny_nm,
			a.card_no,
			a.pg_van_gb,
			a.van_pg_comp,
			TO_DATE( b.confm_dt || b.confm_time  ,  'YYYYMMDDHH24MISS') as confm_dt,

			b.confm_no,
			b.sms_auth_number,
			b.good_nm,
			b.payment_device,
			(SELECT mbtlnum FROM mber_basis WHERE mber_code=c.mber_code) AS mbtlnum,
			TO_DATE((SELECT confm_dt || confm_time
				FROM delng 
				WHERE trget_mber_code=b.mber_code 
				    AND trget_mber_code_sn=b.mber_code_sn 
				    AND trget_rcipt_no=b.rcipt_no 
				    AND delng_se_code IN('CARD_CNCL','CASH_RCIPT_CNCL')), 'YYYYMMDDHH24MISS') AS cnclConfmDt,
			b.bigo,  
			e.mber_name,  
			e.company_name,  
			e.biz_num,  
			e.mber_mobile, 
			e.mber_phone,
			e.calculate_type
			FROM delng b
		       left outer join delng_credt a
		       on a.mber_code=b.mber_code AND a.mber_code_sn=b.mber_code_sn AND a.rcipt_no=b.rcipt_no 
		       inner join mber c
		       on b.mber_code=c.mber_code 
		       inner join biz d
		       on c.biz_code=d.biz_code
		       right outer join mber_basis e 
		       on c.mber_code =e.mber_code 
			WHERE b.delng_se_code IN('CARD_ISSUE','CARD_CNCL','CASH_RCIPT_CNCL','CASH_RCIPT_ISSUE')
			<include refid="delng" />
	</select>
	
	<!--입출 내역 페이징   -->
	<select id="pageList" resultType="InqireDelng" >
		select * from 
		( 
		SELECT ROW_NUMBER() 
			 <if test="orderbyColumn!=null and !orderbyColumn.equals('')" >
			    OVER( order by ${orderbyColumn} ${orderby} )
			</if>
			<if test="orderbyColumn==null or orderbyColumn.equals('')" >
			 	OVER(ORDER BY confm_dt DESC)  
			</if>	
				AS rnum, info.*
		 FROM ( 
			SELECT
				d.cmpnm,
				e.adres,
				e.biz_type_name,
				e.biz_item,
				d.trmnl_no,
				d.pg_trmnl_no,
				d.pg_van,
				c.usid, 
				case e.pay_type when 'N' then '일반' else ( case e.pay_type  when 'B' then '바로정산' else '익일입금' end ) end as pay_type, 
				b.rcipt_no,
				(SELECT adi_cn 
					FROM delng_adi 
					WHERE mber_code=b.mber_code 
						AND mber_code_sn=b.mber_code_sn 
						AND rcipt_no=b.rcipt_no 
						AND adi_code='PURCHSR_MBTLNUM') AS purchsr_mbtlnum,
				b.splpc,
				b.vat,
				b.delng_se_code,
				a.card_type,
				a.instlmt_month,
				a.issue_cmpny_nm,
				a.card_no,
				a.pg_van_gb,
				a.van_pg_comp,
				TO_DATE( b.confm_dt || b.confm_time  ,  'YYYYMMDDHH24MISS') as confm_dt,

				b.confm_no,
				b.sms_auth_number,
				b.good_nm,
				b.payment_device,
				(SELECT mbtlnum FROM mber_basis WHERE mber_code=c.mber_code) AS mbtlnum,
				TO_DATE((SELECT confm_dt || confm_time
				FROM delng 
				WHERE trget_mber_code=b.mber_code 
				    AND trget_mber_code_sn=b.mber_code_sn 
				    AND trget_rcipt_no=b.rcipt_no 
				    AND delng_se_code IN('CARD_CNCL','CASH_RCIPT_CNCL')), 'YYYYMMDDHH24MISS') AS cnclConfmDt,
				b.bigo,  
				e.mber_name,  
				e.company_name,  
				e.biz_num,  
				e.mber_mobile, 
				e.mber_phone,
				e.calculate_type 
				FROM delng b
		        left outer join delng_credt a
		        on a.mber_code=b.mber_code AND a.mber_code_sn=b.mber_code_sn AND a.rcipt_no=b.rcipt_no 
		        inner join mber c
		        on b.mber_code=c.mber_code 
		        inner join biz d
		        on c.biz_code=d.biz_code
		        right outer join mber_basis e 
		        on c.mber_code =e.mber_code 
				WHERE b.delng_se_code IN('CARD_ISSUE','CARD_CNCL','CASH_RCIPT_CNCL','CASH_RCIPT_ISSUE')
				<include refid="delng" />
			) info
			) aa
			WHERE rnum BETWEEN #{startIndex} AND #{endIndex}
	</select>
	
	<!-- 거래조회 전체갯수 -->
	<select id="totCount" resultType="int">
	SELECT 
		count(1) count
	FROM delng b
	left outer join delng_credt a
	   on a.mber_code=b.mber_code AND a.mber_code_sn=b.mber_code_sn AND a.rcipt_no=b.rcipt_no 
	inner join mber c
	   on b.mber_code=c.mber_code 
	inner join biz d
	   on c.biz_code=d.biz_code
	right outer join mber_basis e 
	   on c.mber_code =e.mber_code 
	WHERE b.delng_se_code IN('CARD_ISSUE','CARD_CNCL','CASH_RCIPT_CNCL','CASH_RCIPT_ISSUE')
	<include refid="delng" />

	</select>
	
	<!-- 거래조회 취소 페이징 목록  -->
	<select id="cancelPage" resultType="InqireDelng" >
	select 
	    d.cmpnm
	    , e.adres
		, e.biz_type_name
	    , e.biz_item
	    , d.trmnl_no
		, d.pg_trmnl_no
		, d.pg_van
	    , c.usid
	    , case e.pay_type when 'N' then '일반' else ( case e.pay_type  when 'B' then '바로정산' else '익일입금' end ) end as pay_type
	    , b.TRGET_RCIPT_NO as RCIPT_NO
	    ,(SELECT adi_cn 
						FROM delng_adi 
						WHERE mber_code=b.mber_code 
							AND mber_code_sn=b.mber_code_sn 
							AND rcipt_no=b.TRGET_RCIPT_NO 
							AND adi_code='PURCHSR_MBTLNUM') AS purchsr_mbtlnum                    
	    , b.SPLPC
	    , b.VAT
	    , a.card_type
	    , a.instlmt_month
	    , a.issue_cmpny_nm
	    , a.card_no
	    , a.pg_van_gb
	    , a.van_pg_comp
	    , b.confm_time
	    , b.confm_no
	    , b.sms_auth_number
	    , b.good_nm
		, b.payment_device
	    , e.mbtlnum	    
	    , TO_DATE(  b.CONFM_DT || b.CONFM_TIME ,  'YYYYMMDDHH24MISS') as cnclConfmDt
	    , TO_DATE(  (select CONFM_DT || CONFM_TIME  from delng dd 
	        where dd.delng_se_code IN('CARD_ISSUE','CASH_RCIPT_ISSUE') and  dd.MBER_CODE = b.MBER_CODE
	            and  dd.RCIPT_NO = b.TRGET_RCIPT_NO
	        )  ,  'YYYYMMDDHH24MISS') as CONFM_DT
	    , b.delng_se_code
	    , b.BIGO
		, e.mber_name
		, e.company_name
	    , e.biz_num
	    , e.mber_mobile
		, e.mber_phone
		, e.calculate_type 
	from delng b
	inner join MBER_BASIS e
	on e.MBER_CODE = b.MBER_CODE
	inner join mber c
	on c.MBER_CODE = e.MBER_CODE
	inner join biz d
	on d.biz_code = c.biz_code
	left join delng_credt a
	 on a.mber_code=b.mber_code AND a.mber_code_sn=b.mber_code_sn AND b.TRGET_RCIPT_NO=a.rcipt_no
	where b.delng_se_code IN('CARD_CNCL','CASH_RCIPT_CNCL')
		<include refid="delng" />
	</select>
	
	<!-- 거래조회 취소 전체 목록  -->
	<select id="cancelList" resultType="InqireDelng" >
	select * from
		(SELECT ROW_NUMBER()		 
		 	<if test="orderbyColumn!=null and !orderbyColumn.equals('')" >
			    OVER( order by ${orderbyColumn} ${orderby} )
			</if>
			<if test="orderbyColumn==null or orderbyColumn.equals('')" >
			 	OVER(ORDER BY confm_dt DESC)  
			</if>	
			as RNUM , aa.*
		from
		(select 
		    d.cmpnm
		    , e.adres
			, e.biz_type_name
		    , e.biz_item
		    , d.trmnl_no
			, d.pg_trmnl_no
			, d.pg_van
		    , c.usid
		    , case e.pay_type when 'N' then '일반' else ( case e.pay_type  when 'B' then '바로정산' else '익일입금' end ) end as pay_type
		    , b.TRGET_RCIPT_NO as RCIPT_NO
		    ,(SELECT adi_cn 
							FROM delng_adi 
							WHERE mber_code=b.mber_code 
								AND mber_code_sn=b.mber_code_sn 
								AND rcipt_no=b.TRGET_RCIPT_NO 
								AND adi_code='PURCHSR_MBTLNUM') AS purchsr_mbtlnum                    
		    , b.SPLPC
		    , b.VAT
		    , a.card_type
		    , a.instlmt_month
		    , a.issue_cmpny_nm
		    , a.card_no
		    , a.pg_van_gb
		    , a.van_pg_comp
		    , b.confm_no
		    , b.sms_auth_number
		    , b.good_nm
			, b.payment_device
		    , e.mbtlnum
		    ,b.CONFM_DT || b.CONFM_TIME as cnclConfmDt
		    , (select CONFM_DT || CONFM_TIME  from delng dd 
		        where dd.delng_se_code IN('CARD_ISSUE','CASH_RCIPT_ISSUE') and  dd.MBER_CODE = b.MBER_CODE
		            and  dd.RCIPT_NO = b.TRGET_RCIPT_NO
		        ) as CONFM_DT
		    , b.delng_se_code
		    , b.BIGO
			, e.mber_name
			, e.company_name
		    , e.biz_num
		    , e.mber_mobile
			, e.mber_phone
			, e.calculate_type 
		from delng b
		inner join MBER_BASIS e
		on e.MBER_CODE = b.MBER_CODE
		inner join mber c
		on c.MBER_CODE = e.MBER_CODE
		inner join biz d
		on d.biz_code = c.biz_code
		left join delng_credt a
		 on a.mber_code=b.mber_code AND a.mber_code_sn=b.mber_code_sn AND b.TRGET_RCIPT_NO=a.rcipt_no
		where b.delng_se_code IN('CARD_CNCL','CASH_RCIPT_CNCL')
		<include refid="delng" />
		) aa
		) aaa
		WHERE rnum BETWEEN #{startIndex} AND #{endIndex}
	</select>
	
	<!-- 거래조회 취소 전체갯수 -->
	<select id="cancelTotCount" resultType="int">
	select 
  	  count(1) cnt
		from delng b
		inner join MBER_BASIS e
		on e.MBER_CODE = b.MBER_CODE
		inner join mber c
		on c.MBER_CODE = e.MBER_CODE
		inner join biz d
		on d.biz_code = c.biz_code
		left join delng_credt a
		 on a.mber_code=b.mber_code AND a.mber_code_sn=b.mber_code_sn AND b.TRGET_RCIPT_NO=a.rcipt_no
		where b.delng_se_code IN('CARD_CNCL','CASH_RCIPT_CNCL')
		<include refid="delng" />
	</select>
	
	<!-- 일자별(달력형)  데이터 조회 -->
	<select id="transByDate" resultType="TransByDate">
		select distinct
		    a.confm_dt ,
		    a.delng_se_code,
		    sum(a.splpc + a.vat) over (PARTITION BY  a.confm_dt ,  a.delng_se_code ) totSum,
		    count(1) over (PARTITION BY  a.confm_dt ,  a.delng_se_code ) totCnt
		from delng a
		inner join MBER c
		on a.mber_code = c.mber_code 
		where 1=1
		and a.delng_se_code IN('CARD_ISSUE','CARD_CNCL','CASH_RCIPT_CNCL','CASH_RCIPT_ISSUE')
		AND a.confm_dt between :dateStart and :dateEnd
		AND c.biz_code in 
				 	(SELECT aaa.biz_code FROM biz aaa START WITH aaa.biz_code = :memberBizeCode
				 	CONNECT BY NOCYCLE PRIOR aaa.biz_code = aaa.trget_biz_code)
		<include refid="delng" />
		order by a.confm_dt , a.delng_se_code
		
	</select>
	
	
  </mapper>
