<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bizpay.agency.mapper.AgencyMemberMapper">
    <sql id="transBizCode" >
        <!-- 지사인경우 -->
        <if test='dealerKind== 33' >
            select BIZ_CODE from MBER where USID = #{userId}
            union
            select BIZ_CODE from biz where TRGET_BIZ_CODE in ( select BIZ_CODE from MBER where USID = #{userId})
        </if>

        <!-- 대리점인 경우 -->
        <if test='dealerKind == 34' >
            select BIZ_CODE from MBER where USID = #{userId}
        </if>
    </sql>

    <sql id="bizCodeList">
        <!-- 지사인경우 -->
        <if test='dealerKind== 33' >
            select BIZ_CODE from BIZ where BOSS_BIZ_CODE = (select BIZ_CODE from BIZ where DEALER_ID = #{userId})
            union
            select BIZ_CODE from biz where BOSS_BIZ_CODE in (select BIZ_CODE from BIZ where BOSS_BIZ_CODE = (select BIZ_CODE from BIZ where DEALER_ID = #{userId}))
        </if>

        <!-- 대리점인 경우 -->
        <if test='dealerKind == 34' >
            select BIZ_CODE from BIZ where BOSS_BIZ_CODE = (select BIZ_CODE from BIZ where DEALER_ID = #{userId})
        </if>
    </sql>
    <!-- 로그인유무만 -->
    <select id="loginMember" resultType="HashMap">
        select aa.dealer_id,
               aa.dealer_kind,
               aa.cmpnm,
               bb.biz_code,
               bb.PASSWORD,
               bb.USE_AT
        from biz aa
                 inner join mber bb
                            on aa.biz_code = bb.biz_code
        where dealer_id = #{userId}
          and bb.author_code = 'AUTHOR_DEALER'

    </select>

    <!-- 대리점 소속대리점수 -->
    <select id="bossBizCodeList" resultType="org.bizpay.agency.domain.result.BizCodeCount">
        select biz_code , count(1) count
        from biz where boss_biz_code in
        <foreach collection="list" item="type" open="(" close=")" separator=",">
            #{type.value}
        </foreach>
        group by biz_code
    </select>

    <!-- 지사/대리점 소속대리점수 -->
    <select id="bossBizCodeList2" resultType="org.bizpay.agency.domain.result.BizCodeCount">
        select biz_code , count(1) count
        from biz where boss_biz_code in
        <foreach collection="list" item="type" open="(" close=")" separator=",">
            #{type.value}
        </foreach>
        group by biz_code
    </select>

    <!-- 지사 추천지사 -->
    <select id="recommendBizCodeList" resultType="org.bizpay.agency.domain.result.BizCodeCount">
        select biz_code , count(1) count
        from biz where recommend_biz_code in
        <foreach collection="list" item="type" open="(" close=")" separator=",">
            #{type.value}
        </foreach>
        group by biz_code
    </select>

    <!-- 대리점 기본정보 -->
    <select id="selectDealerBasicInfo" resultType="org.bizpay.agency.domain.result.AgencyBasicInfo">
        select dealer_id,
               dealer_kind,
               case dealer_kind when '33' then '지사' when '34' then '대리점' else '가맹점' end as dealer_kind_nm,
               cmpnm,
               bprprr,
               biz_telno,
               m_telno,
               email
        from biz
        where DEALER_ID = #{val}
    </select>

    <!-- 계좌정보 -->
    <select id="selectDealerBankInfo" resultType="org.bizpay.agency.domain.result.AgencyBankInfo">
        select BANK_NAME,
               BANK_SERIAL,
               BANK_USER
        from biz
        where DEALER_ID = #{val}
    </select>

    <!-- 모집정보 -->
    <select id="getRecruitInfo" resultType="org.bizpay.agency.domain.result.AgencyRecruitInfo">
        select (select ina.CMPNM from BIZ ina where ina.BIZ_CODE = aa.BOSS_BIZ_CODE)      as boss_biz_name,
               (select ina.CMPNM from BIZ ina where ina.BIZ_CODE = aa.TRGET_BIZ_CODE)     as target_biz_name,
               (select ina.CMPNM from BIZ ina where ina.BIZ_CODE = aa.RECOMMEND_BIZ_CODE) as recomment_biz_name
        from BIZ aa
        where aa.DEALER_ID = #{val}
    </select>

    <!-- 영업현황 -->
    <select id="getAgencyCount" resultType="org.bizpay.agency.domain.result.AgencyCount" parameterType="HashMap">
        <choose>
            <!-- 지사경우 -->
            <when test="dealerKind!=null and dealerKind.equals('33')">
                select (select count(1) as a1
                from biz
                where TRGET_BIZ_CODE = (select BIZ_CODE from biz where DEALER_ID = #{userId}) and DEALER_KIND = 34)      as directCount,
                (select count(1) as a2
                from biz
                where RECOMMEND_BIZ_CODE = (select BIZ_CODE from biz where DEALER_ID = #{userId})  and DEALER_KIND = 33 ) as inDirectCount
                from dual
            </when>
            <!-- 대리점인 경우 -->
            <when test="dealerKind!=null and dealerKind.equals('34')">
                select (
                    select count(1) as a1
                    from biz
                    where BOSS_BIZ_CODE = (select BIZ_CODE from biz where DEALER_ID = #{userId})
                    )      as directCount,
                (
                select count(1) as a2 from biz where BOSS_BIZ_CODE in
                (
                select biz_code
                from biz
                where BOSS_BIZ_CODE = (select BIZ_CODE from biz where DEALER_ID = #{userId})
                )

                ) as inDirectCount
                from dual
            </when>
            <otherwise> select 0 as directCount, 0 as inDirectCount from daul</otherwise>
        </choose>
    </select>
    <!-- 지사인경우 -->
    <!-- 추천 지사 리스트 -->

    <!-- 소속대리점 리스트 -->


    <!-- 대리점일 경우 영업현황 -->
    <select id="getAgencyCount2" resultType="org.bizpay.agency.domain.result.AgencyCount">
        select
            (select count(1) as a1 from biz where BOSS_BIZ_CODE = (select BIZ_CODE from biz where DEALER_ID  = #{val}))  as directCount,
            (select count(1) as a2 from BIZ where BOSS_BIZ_CODE in (
                select BIZ_CODE as a1 from biz where BOSS_BIZ_CODE = (select BIZ_CODE from biz where DEALER_ID = #{val})
            )) as inDirectCount
        from dual
    </select>
    <!-- 대리점 리스트 -->
    <select id="getAffiliatedAgencyList" parameterType="org.bizpay.agency.domain.param.AgencyParam">
        select * from
        (
        SELECT row_number() over (order by aa.create_dt desc) as no,
            aa.dealer_id,
            aa.cmpnm,
            aa.bprprr
        from biz aa
        where
            aa.create_dt between #{startDt} and #{endDt}
            and aa.CMPNM like '%'||#{dealerName}||'%'
            and aa.BPRPRR like '%'||#{bprprr}||'%'
            and aa.biz_code in (
            <if test='dealerKind== 33'>
                <!-- 가맹점 리스트 -->
                <if test="type!=null and type.equals('d') ">
                    select BIZ_CODE from BIZ where BOSS_BIZ_CODE = (select BIZ_CODE from BIZ where dealer_id = #{userId})
                </if>
                <!-- 대리점가맹점 리스트 -->
                <if test="type!=null and type.equals('e') ">
                    select BIZ_CODE from biz where BOSS_BIZ_CODE in (select BIZ_CODE from BIZ where BOSS_BIZ_CODE = (select BIZ_CODE from BIZ where dealer_id = #{userId}))
                </if>
            </if>
            <!-- 대리점인 경우 -->
            <if test='dealerKind == 34' >
                select BIZ_CODE from BIZ where BOSS_BIZ_CODE = (select BIZ_CODE from BIZ where DEALER_ID = #{userId})
            </if>
        ) bb
        where bb.no between #{startNo} and #{endNo}
    </select>


    <!-- 거래조회 -->
    <select id="getTransactionList" resultType="org.bizpay.agency.domain.result.TransactionInfo" parameterType="org.bizpay.agency.domain.param.TransactionParam">
        select * from
        (SELECT row_number() over (order by b.confm_dt, b.confm_time desc) as no,
        b.confm_dt,
        b.confm_time,
        e.company_name,
        b.splpc,
        b.vat,
        d.cmpnm,
        d.bprprr,
        e.mber_name,
        d.biz_code,
        b.creat_dt,
        case e.pay_type when 'N' then '일반' else (case e.pay_type when 'B' then '바로정산' else '익일입금' end) end   as pay_type,
        case b.delng_se_code
        when 'CARD_ISSUE' then '카드결제'
        when 'CASH_RCIPT_CNCL' then '현금영수증'
        else '기타' end                                                                                    as delng_se_code,
        b.confm_no,
        nvl(a.instlmt_month, '00')                                                                           as instlmt_month,
        a.issue_cmpny_nm,
        b.rcipt_no,
        a.card_no
        FROM delng b
        left outer join delng_credt a
        on a.mber_code = b.mber_code AND a.mber_code_sn = b.mber_code_sn AND a.rcipt_no = b.rcipt_no
        inner join mber c
        on b.mber_code = c.mber_code
        inner join biz d
        on c.biz_code = d.biz_code
        right outer join mber_basis e
        on c.mber_code = e.mber_code
        WHERE b.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
        and d.biz_code in ( <include refid="transBizCode" /> )
        <if test="companyName!=null and !companyName.equals('') " >
            and e.company_name like '%'||#{companyName}||'%'
        </if>
        <if test="bprprr!=null and !bprprr.equals('') " >
            and d.bprprr like '%'||#{bprprr}||'%'
        </if>
        <if test="mberName!=null and !mberName.equals('') " >
            and e.mber_name like '%'||#{mberName}||'%'
        </if>
        <if test="confmNo!=null and !confmNo.equals('') " >
            and b.confm_no like '%'||#{confmNo}||'%'
        </if>
        <if test="issueCmpnyNm!=null and !issueCmpnyNm.equals('') " >
            and  a.issue_cmpny_nm like '%'||#{issueCmpnyNm}||'%'
        </if>
        <if test="amount > 0" >
            and (b.splpc + b.vat) >= ${amount}
        </if>
        and TO_DATE(b.confm_dt , 'YYYY-MM-DD') between #{startConfmDt} and #{endConfmDt}
        ) aa
        where aa.no between #{startNo} and #{endNo}
    </select>

    <!-- 거래조회 전체갯수 -->
    <select id="getTransactionCount" resultType="HashMap" parameterType="org.bizpay.agency.domain.param.TransactionParam">
        SELECT count(0) as count , sum( b.splpc + b.vat) as amount
        FROM delng b
        left outer join delng_credt a
        on a.mber_code = b.mber_code AND a.mber_code_sn = b.mber_code_sn AND a.rcipt_no = b.rcipt_no
        inner join mber c
        on b.mber_code = c.mber_code
        inner join biz d
        on c.biz_code = d.biz_code
        right outer join mber_basis e
        on c.mber_code = e.mber_code
        WHERE b.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
        and d.biz_code in ( <include refid="transBizCode" /> )
        <if test="companyName!=null and !companyName.equals('') " >
            and e.company_name like '%'||#{companyName}||'%'
        </if>
        <if test="bprprr!=null and !bprprr.equals('') " >
            and d.bprprr like '%'||#{bprprr}||'%'
        </if>
        <if test="mberName!=null and !mberName.equals('') " >
            and e.mber_name like '%'||#{mberName}||'%'
        </if>
        <if test="confmNo!=null and !confmNo.equals('') " >
            and b.confm_no like '%'||#{confmNo}||'%'
        </if>
        <if test="issueCmpnyNm!=null and !issueCmpnyNm.equals('') " >
            and  a.issue_cmpny_nm like '%'||#{issueCmpnyNm}||'%'
        </if>
        <if test="amount > 0" >
            and (b.splpc + b.vat) >= ${amount}
        </if>
        and TO_DATE(b.confm_dt , 'YYYY-MM-DD') between #{startConfmDt} and #{endConfmDt}
    </select>

    <!-- 대리점 정산서 -->
    <select id="settlementInfo" resultType="org.bizpay.agency.domain.result.SettlementInfo" parameterType="HashMap">
        select
            ccl_dt,
            cmpnm,
            biz_type,
            mber_delng_fee,
            recommand_sale_total,
            dealer_reg_fee,
            total_fee ,
            tot_amt_option01, -- 왜 숫자값에 문자열을 넣는지 알수 없다. 0 이 맡는거 같은데. 원데이터 타입에 대한 기준 개념공부 안한듯
            tot_amt_option02, -- 이렇게 하면 뒤에 받는 부분에서 숫자처리하다 에러 나고 성능에 매우 않좋다. 최소한의 데이터 타입으로 해야함 데이터 형변환 자동 발생등 후속 개발에서 문제 일어난다.이런 데이터 처리 성능처리 관련 공부하기!
            modify_amt,
            send_amt,
            tax_invoice_yn,
            send_yn,
            dealer_id
        from TBL_DEALER_FEE
        where dealer_id=#{dealerId} and ccl_dt=#{cclDt}
    </select>
    <!-- 공지사항 전체 수량 -->
    <select id="selectNoticeTotalCount" parameterType="org.bizpay.agency.domain.param.NoticeParam" resultType="int">
        SELECT count(1)
        from TBL_NOTICE
        where to_char(create_date, 'YYYY-MM-DD') between #{startDt} and #{endDt}
        <choose>
            <!-- 지사경우 -->
            <when test="dealerKind==33">
                and type in ('1','2','3','M','N')
            </when>
            <when test="dealerKind==34">
                and type in ('1','3','M','N')
            </when>
        </choose>

        <if test="title!=null and !title.equals('') " >
            and title like '%'||#{title}||'%'
        </if>
        <if test="content!=null and !content.equals('') " >
            and content like '%'||#{content}||'%'
        </if>
        <if test="type!=null and !type.equals('') " >
            and type = #{type}
        </if>
    </select>
    <!-- 공지사항 -->
    <select id="selectNoticeList" parameterType="org.bizpay.agency.domain.param.NoticeParam" resultType="org.bizpay.agency.domain.result.Notice">
        select * from (
            SELECT row_number() over (order by create_date desc) as no,
                create_date,
                title,
                content,
                type
            from TBL_NOTICE
            where to_char(create_date, 'YYYY-MM-DD') between #{startDt} and #{endDt}
            <choose>
                <!-- 지사경우 -->
                <when test="dealerKind==33">
                    and type in ('1','2','3','M','N')
                </when>
                <when test="dealerKind==34">
                    and type in ('1','3','M','N')
                </when>
            </choose>

            <if test="title!=null and !title.equals('') " >
                and title like '%'||#{title}||'%'
            </if>
            <if test="content!=null and !content.equals('') " >
                and content like '%'||#{content}||'%'
            </if>
            <if test="type!=null and !type.equals('') " >
                and type = #{type}
            </if>
        ) bb
        where bb.no between ${startNo} and ${endNo}
    </select>

    <!-- *모집대리점 가맹비수익 목록 -->
    <select id="getJoinAmtList" parameterType="org.bizpay.agency.domain.param.RevenueParam" resultType="org.bizpay.agency.domain.result.JoinAmtList">
        select
            no , CMPNM, CREATE_DT,
            (CASE
            WHEN bb.biz_type = 'N' THEN (bb.JOIN_AMT / 1.1) - (bb.JOIN_AMT / 1.1 * 0.033)
            ELSE (CASE WHEN bb.biz_type = 'O' THEN (bb.JOIN_AMT / 1.1) ELSE bb.JOIN_AMT END) END) as JOIN_AMT
        from (select
            row_number() over (order by to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') desc) as no,
            BIZ_CODE,
            DEALER_ID,
            CMPNM,
            DEALER_KIND,
            biz_type,
            nvl(JOIN_AMT, 0) as JOIN_AMT,
            to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') as CREATE_DT
            from biz
            where BOSS_BIZ_CODE = (select BIZ_CODE from MBER where USID = #{userId})
            and to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') between #{startDt} and #{endDt}
            ) bb
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 모집대리점 매출수익목록 -->
    <select id="selectRecruitingAgencyList" resultType="org.bizpay.agency.domain.result.RecruitingAgencyList" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select * from
            (
                select
                    row_number() over ( order by mba.MBER_NAME desc) as  no,
    mba.MBER_NAME,
    sum(de.SPLPC + de.VAT) as splpc,
    FLOOR(sum(de.SPLPC + de.VAT) * mba.FEE_RATE / 100) as sumSplpc
                from DELNG de
                    inner join MBER mb
                on de.MBER_CODE = mb.MBER_CODE
                    inner join MBER_BASIS mba
                    on mba.MBER_CODE = mb.MBER_CODE
                where mb.BIZ_CODE = (
                    select BIZ_CODE from biz where BOSS_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = #{userId})
                    )
                  and to_date(de.CONFM_DT , 'YYYYMMDD' ) between between #{startDt} and #{endDt}
                  and de.DELNG_SE_CODE in ('CARD_ISSUE', 'CASH_RCIPT_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL')
                group by  mba.MBER_NAME , mba.FEE_RATE
            )
        where no between ${startNo} and ${endNo}
    </select>

    <!-- 모집대리점 매출전체갯수 -->
    <select id="selectRecruitingAgencyCount"  resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
                select count(1)
                from DELNG de
                    inner join MBER mb
                on de.MBER_CODE = mb.MBER_CODE
                    inner join MBER_BASIS mba
                    on mba.MBER_CODE = mb.MBER_CODE
                where mb.BIZ_CODE = (
                    select BIZ_CODE from biz where BOSS_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = #{userId})
                    )
                  and to_date(de.CONFM_DT , 'YYYYMMDD' ) between between #{startDt} and #{endDt}
                  and de.DELNG_SE_CODE in ('CARD_ISSUE', 'CASH_RCIPT_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL')
                group by  mba.MBER_NAME , mba.FEE_RATE
    </select>
    <!-- 모집대리점 매출 합계 -->
    <select id="selectRecruitingAgencySum" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select  sum(FLOOR(sum(de.SPLPC + de.VAT) * mba.FEE_RATE / 100) )
        from DELNG de
                 inner join MBER mb
                            on de.MBER_CODE = mb.MBER_CODE
                 inner join MBER_BASIS mba
                            on mba.MBER_CODE = mb.MBER_CODE
        where mb.BIZ_CODE = (
            select BIZ_CODE from biz where BOSS_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = #{userId})
        )
          and to_date(de.CONFM_DT , 'YYYYMMDD' ) between between #{startDt} and #{endDt}
          and de.DELNG_SE_CODE in ('CARD_ISSUE', 'CASH_RCIPT_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL')
        group by  mba.MBER_NAME , mba.FEE_RATE
    </select>
    <!-- * 대리점관리-->
    <!-- 대리점관리목록 -->
    <select id="selectAgencyAgencyManagementList" parameterType="org.bizpay.agency.domain.param.AgencyManageParam" resultType="org.bizpay.agency.domain.result.AgencyManagementList">
        select * from
        (select
        row_number() over (order by dt  desc) as no,
        dealer_kind,
        aa.biz_code,
        dealer_id,
        <if test='dealerKind==33 and type.equals("a")'>
        ( select count(0) from biz where trget_biz_code = aa.biz_code ) as count,
        </if>
        <if test='dealerKind==33 and type.equals("b")'>
            ( select count(0) from biz where trget_biz_code = aa.biz_code ) as count,
        </if>
        <if test="dealerKind==34">
        ( select count(0) from biz where boss_biz_code = aa.biz_code ) as count,
        </if>
        to_char(dt, 'YYYY-MM-DD' ) as create_dt,
        cmpnm,
        bprprr,
        aa.email,
        aa.bank_name,
        aa.bank_serial,
        aa.bank_user,
        aa.m_telno,
        aa.bplc
        from BIZ aa
        where
        aa.dt between #{startDt} and #{endDt}
    <!--  DEALER_KIND = #{dealerKind} -->
      <if test='dealerKind==33 and type.equals("a")'>
          and aa.RECOMMEND_BIZ_CODE = (select BIZ_CODE from biz where dealer_id = #{userId}) and dealer_kind = 33
      </if>
      <if test='dealerKind==33 and type.equals("b")'>
          and aa.trget_biz_code = (select BIZ_CODE from biz where dealer_id = #{userId})
      </if>
      <if test="dealerKind==34">
          and aa.BOSS_BIZ_CODE = (select BIZ_CODE from biz where dealer_id = #{userId})
      </if>
      <if test="dealerId!=null and !dealerId.equals('')" >
          and aa.dealer_id = #{dealerId}
      </if>
      <if test="cmpnm!=null and !cmpnm.equals('')" >
          and aa.cmpnm like '%'||#{cmpnm}||'%'
      </if>
      <if test="bprprr!=null and !bprprr.equals('')" >
          and aa.bprprr like '%'||#{bprprr}||'%'
      </if>
      )
      where no between ${startNo} and ${endNo}
  </select>
  <!-- 대리점관리 전체갯수 -->
    <select id="selectAgencyAgencyManagementCount" resultType="int" parameterType="org.bizpay.agency.domain.param.AgencyManageParam" >
    select
        count(0)
        from BIZ aa
        where aa.dt between #{startDt} and #{endDt}
        <if test='dealerKind==33 and type.equals("a")'>
            and aa.RECOMMEND_BIZ_CODE = (select BIZ_CODE from biz where dealer_id = #{userId}) and dealer_kind = 33
        </if>
        <if test='dealerKind==33 and type.equals("b")'>
            and aa.trget_biz_code = (select BIZ_CODE from biz where dealer_id = #{userId})
        </if>
        <if test="dealerKind==34">
            and aa.BOSS_BIZ_CODE = (select BIZ_CODE from biz where dealer_id = #{userId})
        </if>
        <if test="dealerId!=null and !dealerId.equals('')" >
            and aa.dealer_id = #{dealerId}
        </if>
        <if test="cmpnm!=null and !cmpnm.equals('')" >
            and aa.cmpnm like '%'||#{cmpnm}||'%'
        </if>
        <if test="bprprr!=null and !bprprr.equals('')" >
            and aa.bprprr like '%'||#{bprprr}||'%'
        </if>

    </select>

    <!-- * 가맹점관리 -->
    <!-- 가맹점관리 대리점 -->
    <select id="selectMerchantManagementList" resultType="org.bizpay.agency.domain.result.MerchantManagementList" parameterType="org.bizpay.agency.domain.param.AgencyParam">
        select * from
            (select
                row_number() over (order by mbb.CREAT_DT desc) as no,
                mba.usid,
                mbb.company_name,
                mbb.mber_name,
                mbb.creat_dt,
                case calculate_type when 'k' then 'ksnet' else '직정산' end as calculate_type,
                mbb.fee_rate,
                mbb.adres,
                mbb.mber_mobile,
                mbb.email,
                mbb.account_no,
                mbb.bank_name,
                mbb.depositor,
                (select bbb.CMPNM from biz bbb where bbb.biz_code = bi.BIZ_CODE) as boss_name
            from mber mba
            inner join mber_basis mbb
                on mba.mber_code = mbb.mber_code
            inner join biz bi
                on mba.biz_code = bi.biz_code
            where
                    mbb.CREAT_DT between #{startDt} and #{endDt}

                <if test="dealerKind==34">
                    and bi.TRGET_BIZ_CODE = ( select biz_code from biz where DEALER_ID = #{userId} )
                </if>
                <if test="dealerKind==33 ">
                    <!--가맹점리스트 -->
                    <if test='type.equals("a")' >
                        and bi.TRGET_BIZ_CODE = ( select biz_code from biz where DEALER_ID = #{userId} )
                    </if>
                    <!--대리점가맹점리스트 -->
                    <if test='type.equals("b")' >
                        and bi.BIZ_CODE in ( select biz_code from biz where TRGET_BIZ_CODE in (
                        select biz_code from biz where DEALER_ID = #{userId}
                        )
                        )
                    </if>
                </if>

                <if test="dealerMemberName!=null and !dealerMemberName.equals('') " >
                and mbb.MBER_NAME like '%'||#{dealerMemberName}||'%'
                </if>
                <if test="dealerId!=null and !dealerId.equals('') " >
                and mbb.usid like '%'||#{dealerId}||'%'
                </if>
                <if test="dealerName!=null and !dealerName.equals('') " >
                and mbb.company_name like '%'||#{dealerName}||'%'
                </if>
            )
        where no between ${startNo} and ${endNo}
   </select>

    <!-- 가맹점관리 대리점 전체갯수 -->
    <select id="selectMerchantManagementCount" resultType="int"  parameterType="org.bizpay.agency.domain.param.AgencyParam">
        select
        count(0)
        from mber mba
        inner join mber_basis mbb
        on mba.mber_code = mbb.mber_code
        inner join biz bi
        on mba.biz_code = bi.biz_code
        where bi.TRGET_BIZ_CODE = ( select biz_code from biz where DEALER_ID = #{userId} )
        and mbb.CREAT_DT between #{startDt} and #{endDt}
        <if test="dealerKind==34">
            and bi.TRGET_BIZ_CODE = ( select biz_code from biz where DEALER_ID = #{userId} )
        </if>
        <if test="dealerKind==33 ">
            <!--가맹점리스트 -->
            <if test='type.equals("a")' >
                and bi.TRGET_BIZ_CODE = ( select biz_code from biz where DEALER_ID = #{userId} )
            </if>
            <!--대리점가맹점리스트 -->
            <if test='type.equals("b")' >
                and bi.BIZ_CODE in ( select biz_code from biz where TRGET_BIZ_CODE in (
                select biz_code from biz where DEALER_ID = #{userId}
                )
                )
            </if>
        </if>
        <if test="dealerMemberName!=null and !dealerMemberName.equals('') " >
            and mbb.MBER_NAME like '%'||#{dealerMemberName}||'%'
        </if>
        <if test="dealerId!=null and !dealerId.equals('') " >
            and mbb.usid like '%'||#{dealerId}||'%'
        </if>
        <if test="dealerName!=null and !dealerName.equals('') " >
            and mbb.company_name like '%'||#{dealerName}||'%'
        </if>
    </select>

    <!-- 대리점 가맹점 리스트 franchise -->
    <select id="selectFranchiseManagementList" resultType="org.bizpay.agency.domain.result.MerchantManagementList" parameterType="org.bizpay.agency.domain.param.AgencyParam">
        select * from
        (select
            row_number() over (order by  mba.mber_code desc) as no,
            mba.usid,
            bi.cmpnm,
            mbb.company_name,
            mbb.mber_name,
            mbb.creat_dt,
            case calculate_type when 'k' then 'ksnet' else '직정산' end as calculate_type,
            mbb.fee_rate,
            mbb.adres,
            mbb.mber_mobile,
            mbb.email,
            mbb.account_no,
            mbb.bank_name,
            mbb.depositor
        from mber mba
        inner join mber_basis mbb
        on mba.mber_code = mbb.mber_code
        inner join biz bi
        on mba.biz_code = bi.biz_code
        where bi.TRGET_BIZ_CODE in (
            select BIZ_CODE from biz where TRGET_BIZ_CODE = (select BIZ_CODE from MBER where USID =  #{userId})
        )
        and mbb.CREAT_DT between #{startDt} and #{endDt}
        <if test="dealerMemberName!=null and !dealerMemberName.equals('') " >
            and mbb.MBER_NAME like '%'||#{dealerMemberName}||'%'
        </if>
        <if test="dealerId!=null and !dealerId.equals('') " >
            and mbb.usid like '%'||#{dealerId}||'%'
        </if>
        <if test="dealerName!=null and !dealerName.equals('') " >
            and mbb.company_name like '%'||#{dealerName}||'%'
        </if>
        )
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 대리점 가맹점 리스트 전체숫자 -->
    <select id="selectFranchiseManagementCount" resultType="int"  parameterType="org.bizpay.agency.domain.param.AgencyParam">
        select
            count(0)
        from mber mba
        inner join mber_basis mbb
        on mba.mber_code = mbb.mber_code
        inner join biz bi
        on mba.biz_code = bi.biz_code
        where bi.TRGET_BIZ_CODE in (
        select BIZ_CODE from biz where TRGET_BIZ_CODE = (select BIZ_CODE from MBER where USID =  #{userId})
        )
        and mbb.CREAT_DT between #{startDt} and #{endDt}
        <if test="dealerMemberName!=null and !dealerMemberName.equals('') " >
            and mbb.MBER_NAME like '%'||#{dealerMemberName}||'%'
        </if>
        <if test="dealerId!=null and !dealerId.equals('') " >
            and mbb.usid like '%'||#{dealerId}||'%'
        </if>
        <if test="dealerName!=null and !dealerName.equals('') " >
            and mbb.company_name like '%'||#{dealerName}||'%'
        </if>
        )


    </select>



<!-- 지사 -->
    <!-- 소속 대리점 매출수익 목록 -->
    <select id="affiliatedAgency" resultType="org.bizpay.agency.domain.result.RecruitingAgencyList" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select * from
            (
                select
                    row_number() over ( order by mba.MBER_NAME desc) as  no,
                    mba.MBER_NAME,
                    sum(de.SPLPC + de.VAT) as splpc,
                    FLOOR(sum(de.SPLPC + de.VAT) * mba.FEE_RATE / 100) as sumSplpc
                        from DELNG de
                            inner join MBER mb
                        on de.MBER_CODE = mb.MBER_CODE
                            inner join MBER_BASIS mba
                            on mba.MBER_CODE = mb.MBER_CODE
                        where mb.BIZ_CODE = (
                            select BIZ_CODE from biz where TRGET_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = #{userId})
                            union
                            select BIZ_CODE from biz where BOSS_BIZ_CODE in (
                            select BIZ_CODE from biz where TRGET_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = #{userId}))
                            )
                          and to_date(de.CONFM_DT , 'YYYYMMDD' ) between #{startDt} and #{endDt}
                          and de.DELNG_SE_CODE in ('CARD_ISSUE', 'CASH_RCIPT_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL')
                        group by  mba.MBER_NAME , mba.FEE_RATE
            )
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 소속 대리점 매출수익 합 -->
    <select id="affiliatedAgencySum" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select ROUND(sum(amount))
        from (select case mba.BIZ_TYPE
                         when 'N' then ((((SPLPC + VAT) * mba.FEE_AGENCY) / 100) / 1.1) -
                                       (((((SPLPC + VAT) * mba.FEE_AGENCY) / 100) / 1.1) * 0.033)
                         else (SPLPC + VAT) * mba.FEE_AGENCY / 100
                         end as amount
              from DELNG de
                       inner join MBER_BASIS mba
                                  on de.MBER_CODE = mba.MBER_CODE
              where to_date(de.CONFM_DT, 'YYYY-MM-DD') between #{startDt} and #{endDt}
                and de.MBER_CODE in (select mb.MBER_CODE
                                     from MBER mb
                                     where mb.BIZ_CODE in (select BIZ_CODE
                                                           from biz
                                                           where TRGET_BIZ_CODE = (select BIZ_CODE
                                                                                   from BIZ
                                                                                   where DEALER_ID = #{userId})
                                                             and DEALER_KIND = 34))) aa
    </select>
    <!-- 지사의 소속 대리점 매출수익 전채갯수 -->
    <select id="affiliatedAgencyCount" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select count(0) from
            (select
                 mba.MBER_NAME,mba.FEE_RATE
             from DELNG de
                      inner join MBER mb
                                 on de.MBER_CODE = mb.MBER_CODE
                      inner join MBER_BASIS mba
                                 on mba.MBER_CODE = mb.MBER_CODE
             where mb.BIZ_CODE = (
                 select BIZ_CODE from biz where TRGET_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = 'B000562')
                 union
                 select BIZ_CODE from biz where BOSS_BIZ_CODE in (
                     select BIZ_CODE from biz where TRGET_BIZ_CODE = (select BIZ_CODE From BIZ where DEALER_ID = 'B000562'))
             )
               and to_date(de.CONFM_DT , 'YYYYMMDD' ) between #{startDt} and #{endDt}
               and de.DELNG_SE_CODE in ('CARD_ISSUE', 'CASH_RCIPT_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL')
             group by  mba.MBER_NAME , mba.FEE_RATE)
    </select>

    <!-- 지사의 가맹비수익 목록 -->
    <select id="selectJoinAmtUpList" parameterType="org.bizpay.agency.domain.param.RevenueParam" resultType="org.bizpay.agency.domain.result.JoinAmtList">
        select
            no , CMPNM, CREATE_DT,
            (CASE
            WHEN bb.biz_type = 'N' THEN (bb.JOIN_AMT / 1.1) - (bb.JOIN_AMT / 1.1 * 0.033)
            ELSE (CASE WHEN bb.biz_type = 'O' THEN (bb.JOIN_AMT / 1.1) ELSE bb.JOIN_AMT END) END) as JOIN_AMT
        from (select
            row_number() over (order by to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') desc) as no,
            BIZ_CODE,
            DEALER_ID,
            CMPNM,
            DEALER_KIND,
            biz_type,
            nvl(JOIN_AMT, 0) as JOIN_AMT,
            to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') as CREATE_DT
            from biz
            where TRGET_BIZ_CODE = (select BIZ_CODE from MBER where USID = #{userId})
            and to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') between #{startDt} and #{endDt}
            ) bb
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 지사의 가맹비수익 합 -->
    <select id="selectJoinAmtUpSum" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
            select nvl(amount, 0) from (select
                SUM(
                    (CASE
                        WHEN biz_type = 'N' THEN (JOIN_AMT / 1.1) - (JOIN_AMT / 1.1 * 0.033)
                        ELSE (CASE WHEN biz_type = 'O' THEN (JOIN_AMT / 1.1) ELSE JOIN_AMT END) END)) as amount
            from biz
            where TRGET_BIZ_CODE = (select BIZ_CODE from MBER where USID = #{userId})
            and to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') between #{startDt} and #{endDt} )
    </select>
    <!-- 지사의 가맹비수익 전체갯수 -->
    <select id="selectJoinAmtUpCount" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select
            COUNT(0)
        from (select
            BIZ_CODE,
            DEALER_ID,
            CMPNM,
            DEALER_KIND,
            biz_type,
            nvl(JOIN_AMT, 0) as JOIN_AMT,
            to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') as CREATE_DT
            from biz
            where TRGET_BIZ_CODE = (select BIZ_CODE from MBER where USID = #{userId})
            and to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') between #{startDt} and #{endDt}
            ) bb
    </select>

    <!-- 대리점 등록요청 -->
    <insert id="insertRegAgency" parameterType="org.bizpay.agency.domain.param.ReqAgencyParam">
        <selectKey keyProperty="regNo" resultType="int" order="AFTER">
            SELECT SEQ_REG_AGENCY.CURRVAL FROM DUAL
        </selectKey>

        insert into TB_REG_AGENCY (BOSS_BIZ_CODE, COMPANY_NAME, MEMBER_NAME, EMAIL, MOBILE_NUMBER)
        values (#{bossBizCode},#{companyName},#{memberName},#{email},#{mobileNumber})
    </insert>

    <!-- 대리점 이력 생성 : 주) 이력은 입력만 한다. 수정 삭제 없다  -->
    <insert id="insertRegAgencyHistory" parameterType="hashmap">
        insert into TB_REG_AGENCY_HISTORY (REG_NO, STATUS)
        values ( ${reg_no}, ${status} )
    </insert>

    <!-- 대리점 이력 생성 조회 -->
    <select id="selectRegAgencyHistory" resultType="org.bizpay.agency.domain.result.RegAgencyHistory">
        select reg_no,
               case status
                when 0 then '신규등록요청'
                when 1 then '계약서발송'
                when 9 then '등록완료'
                else '대기' end as status,
               to_char(created_at , 'YYYY-MM-DD' ) as created_at from TB_REG_AGENCY_HISTORY
        where REG_NO = ${val}  order by CREATED_AT desc
    </select>

    <!-- 대리점 등록요청 목록 -->
    <select id="selectRegAgencyList" parameterType="org.bizpay.agency.domain.param.ReqAgencyParam" resultType="org.bizpay.agency.domain.result.ReqAgency">
        select * from
            (select row_number() over (order by no desc) as row_no,
                boss_biz_code,
                (select aa.CMPNM from biz aa where aa.BIZ_CODE = tr.boss_biz_code ) boss_biz_name,
                email,
                company_name,
                mobile_number,
                member_name,
                created_at,
                no,
                 case status
                    when 0 then '신규등록요청'
                    when 1 then '계약서발송'
                    when 9 then '등록완료'
                    else '대기' end as status
             from TB_REG_AGENCY tr
            where to_char(created_at, 'YYYY-MM-DD') between #{startDt} and #{endDt}
            <if test="companyName!=null and !companyName.equals('') " >
                and companyName like '%'||#{companyName}||'%'
            </if>
            <if test="status!=null and !status.equals('') " >
                and status = {status}
            </if>
        ) where row_no between ${startNo} and ${endNo}
    </select>
    <!-- 대리점등록목록 전체 갯수 -->
    <select id="selectRegAgencyCount" parameterType="org.bizpay.agency.domain.param.ReqAgencyParam" resultType="int">
    select
        count(0)
    from TB_REG_AGENCY
    where to_char(created_at, 'YYYY-MM-DD') between #{startDt} and #{endDt}
        <if test="companyName!=null and !companyName.equals('') " >
            and companyName like '%'||#{companyName}||'%'
        </if>
        <if test="status!=null and !status.equals('') " >
            and status = {status}
        </if>
    </select>
<!-- 가맹점 매출 목록 -->
    <select id="merchantIncomeList" resultType="org.bizpay.agency.domain.result.MerchantSalesList" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select * from
            (select
                row_number() over (order by  de.MBER_CODE desc) as no ,
                ( select COMPANY_NAME from MBER_BASIS bbb where bbb.MBER_CODE = de.MBER_CODE ) as member_name,
                sum(de.VAT + de.SPLPC) as  amount,
                sum(de.MBER_FEE_AMT) as fee_amount
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE = (
                    select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                    )
                 )
             group by de.MBER_CODE )
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 가맹점 매출 목록 전체 갯수 -->
    <select id="merchantIncomeCount" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select count(0) from
            (select
                 count(1)
             from DELNG de
             where de.CONFM_DT between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE = (
                     select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                 )
             )
             group by de.MBER_CODE)
    </select>
<!-- 가맹점 매출수익 합 -->
    <select id="merchantIncomeSum" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select ROUND(sum(amount))
        from (select case mba.BIZ_TYPE
                         when 'N' then ((((SPLPC + VAT) * mba.FEE_AGENCY) / 100) / 1.1) -
                                       (((((SPLPC + VAT) * mba.FEE_AGENCY) / 100) / 1.1) * 0.033)
                         else (SPLPC + VAT) * mba.FEE_AGENCY / 100
                         end as amount
              from DELNG de
                       inner join MBER_BASIS mba
                                  on de.MBER_CODE = mba.MBER_CODE
              where to_date(de.CONFM_DT, 'YYYY-MM-DD')  between #{startDt} and #{endDt}
                and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
                and de.MBER_CODE in (select mb.MBER_CODE
                                     from MBER mb
                                     where mb.BIZ_CODE = (select BIZ_CODE
                                                          from BIZ
                                                          where DEALER_ID = #{userId}))) aa
    </select>

    <!-- 대리점 : 모집대리점 매출수익 -->
    <!-- 모집대리점 매출 목록 -->
    <select id="recruitmentAgencySalesList" resultType="org.bizpay.agency.domain.result.MerchantSalesList" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select * from
            (select
                 row_number() over (order by  de.MBER_CODE desc) as no ,
                ( select COMPANY_NAME from MBER_BASIS bbb where bbb.MBER_CODE = de.MBER_CODE ) as member_name,
                sum(de.VAT + de.SPLPC) as amount,
                sum(de.MBER_FEE_AMT) as fee_amount
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                    select mb.MBER_CODE from MBER mb where mb.BIZ_CODE in (
                        select biz_code from biz where BOSS_BIZ_CODE = (
                            select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                        )
                    )
                )
             group by de.MBER_CODE )
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 모집대리점 매출합 -->
    <select id="recruitmentAgencySalesSum" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
             select
                 sum(de.MBER_FEE_AMT) as fee_amount
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE in (
                    select biz_code from biz where BOSS_BIZ_CODE = (
                        select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                    )
                )
            )
    </select>

    <!-- 모집대리점 매출 전체갯수 -->
    <select id="recruitmentAgencySalesCount" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select count(1) from
            (select
                 count(1)
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE in (
                 select biz_code from biz where BOSS_BIZ_CODE = (
                 select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                 )
                 )
                 )
             group by de.MBER_CODE )
    </select>
    <!-- * 지사 : 소속 대리점 매출수익 -->
    <!-- 추전지사 가맹비 합 -->
    <select id="getRecommendJoinAmtSum" resultType="int"  parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select nvl(sum(nvl(amount,0)) ,0) from
            (select
                 (CASE
                      WHEN biz_type = 'N' THEN ( (nvl(JOIN_AMT , 0)/2) / 1.1) - ( (nvl(JOIN_AMT,0)/2) / 1.1 * 0.033)
                      ELSE (CASE WHEN biz_type = 'O' THEN (nvl(JOIN_AMT , 0)/2 ) ELSE nvl(JOIN_AMT , 0)/2 END) END) as amount from
                 (select
                      JOIN_AMT,
                      (select biz_type from BIZ where BIZ_CODE = RECOMMEND_BIZ_CODE ) as  biz_type,
                      ( nvl(JOIN_AMT , 0)/2 / 1.1) - ( nvl(JOIN_AMT,0)/2 / 1.1 * 0.033)
                  from biz
                  where RECOMMEND_BIZ_CODE = (select BIZ_CODE from MBER where USID = #{userId})
                    and to_DATE( REPLACE(nvl(CREATE_DT, '1999-01-01'), '-' , '' ) , 'YYYY-MM-DD') between #{startDt} and #{endDt}
                    and DEALER_KIND = 33 )
                     aa
            )
    </select>

    <!-- 소속 대리점 매출 목록 -->
    <select id="affiliatedAgencySalesList" resultType="org.bizpay.agency.domain.result.AffiliateList" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select * from
            (select
                 row_number() over (order by  de.MBER_CODE desc) as no ,
                ( select COMPANY_NAME from MBER_BASIS bbb where bbb.MBER_CODE = de.MBER_CODE ) as member_name,
                sum(de.VAT + de.SPLPC) as amount,
                sum(de.MBER_FEE_AMT) as fee_amount
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE in (
                 select bbb.biz_code from biz bbb where TRGET_BIZ_CODE = (
                 select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                    ) and bbb.DEALER_KIND = 34
                 )
                 )
             group by de.MBER_CODE )
        where no between ${startNo} and ${endNo}
    </select>
    <!-- 소속 대리점 매출 합 -->
    <select id="affiliatedAgencySalesSum" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
            select
                sum(de.MBER_FEE_AMT) as fee_amount
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE in (
                 select bbb.biz_code from biz bbb where TRGET_BIZ_CODE = (
                 select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                 ) and bbb.DEALER_KIND = 34
                 )
                 )
    </select>
    <!-- 소속 대리점 매출 전체 갯수 -->
    <select id="affiliatedAgencySalesCount" resultType="int" parameterType="org.bizpay.agency.domain.param.RevenueParam">
        select count(1) from
            (select
                 count(1)
             from DELNG de
             where to_date(de.CONFM_DT, 'YYYY-MM-DD' ) between #{startDt} and #{endDt}
               and de.delng_se_code IN ('CARD_ISSUE', 'CARD_CNCL', 'CASH_RCIPT_CNCL', 'CASH_RCIPT_ISSUE')
               and de.MBER_CODE in (
                 select mb.MBER_CODE from MBER mb where mb.BIZ_CODE in (
                     select bbb.biz_code from biz bbb where TRGET_BIZ_CODE = (
                         select BIZ_CODE from BIZ where DEALER_ID = #{userId}
                     ) and bbb.DEALER_KIND = 34
                 )
             )
             )
             group by de.MBER_CODE )

    </select>

    <!-- 가맹비 -->
    <!-- 대리점* 모집인 가맹비 목록 -->
    <select id="agencyMemberShipFeeList" parameterType="org.bizpay.agency.domain.param.RevenueParam" resultType="org.bizpay.agency.domain.result.JoinAmtList">
        select * from (select row_number() over ( ORDER BY CREATE_DT )                                             as no,
                      (select cccc.CMPNM from biz cccc where cccc.DEALER_ID =  #{userId})                   as cmpnm,
                      to_date(CREATE_DT, 'YYYY-MM-DD')                                                     as create_dt,
                      FLOOR((CASE
                                 WHEN biz_type = 'N' THEN (300000 / 1.1) - (300000 / 1.1 * 0.033)
                                 ELSE (CASE WHEN biz_type = 'O' THEN (300000 / 1.1) ELSE 300000 END) END)) as join_amt
                       From biz
                       where BOSS_BIZ_CODE = (select BIZ_CODE from biz bbbb where bbbb.DEALER_ID =  #{userId})
                         and to_date(CREATE_DT, 'YYYY-MM-DD') between #{startDt} and #{endDt} )
        where no between ${startNo} and ${endNo}
    </select>

    <!-- 대리점* 모집인 가맹비합계금액 -->
    <select id="agencyMemberShipFeeSum" resultType="int" >
        select
          sum( FLOOR((CASE
                      WHEN biz_type = 'N' THEN (300000 / 1.1) - (300000 / 1.1 * 0.033)
                           ELSE (CASE WHEN biz_type = 'O' THEN (300000 / 1.1) ELSE 300000 END) END)) ) as JOIN_AMT
                       From biz
                       where BOSS_BIZ_CODE = (select BIZ_CODE from biz bbbb where bbbb.DEALER_ID =  #{userId})
                         and to_date(CREATE_DT, 'YYYY-MM-DD') between #{startDt} and #{endDt}
    </select>

    <!-- 대리점* 모집인 가맹비 목록 전체숫자 -->
    <select id="agencyMemberShipFeeCount" resultType="int" >
        select count(0)
                       From biz
                       where BOSS_BIZ_CODE = (select BIZ_CODE from biz bbbb where bbbb.DEALER_ID =  #{userId})
                         and to_date(CREATE_DT, 'YYYY-MM-DD') between #{startDt} and #{endDt}

    </select>


</mapper>
